@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f7e9dc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.top-box {
  background-color: #ec755d;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
  color: white;
}

.balance {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom-box {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
}